include License.txt
include requirements.txt dev-requirements.txt
include tox.ini
include .coveragerc
recursive-include documentation *
recursive-include Lib/defcon/test/testdata *
recursive-include tools *.py *.txt
